.contact-bullet-point
{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 21px;
    margin-left: 100px;
    


    .bullet-point-group
    {
        display: flex;
        align-items: center;

        .icon
        {
            font-size: 2em;
            color: $teal;
        }

        .text
        {
            font-size: 2em;
            font-weight: 900;
            margin-left: 21px;
        }

    }

}